# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# output
/.temp
/.tmp
/build
/dist

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# Windows Ignores  
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Thumbnails
._*

#---------------------------------------#
# IDEs & Editors Ignores                #
#---------------------------------------#

# JetBrains IDEs
/.idea
# Sublime Text
/*.sublime*
.sublime-gulp.cache

